.flex {
    display: flex;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.margin-top {
    margin-top: 2px;
}

.die {
    border-style: solid;
    text-align: center;
}

.bit-o-margin {
    margin: 5px;
}